.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Portal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rootLink {
  text-decoration: none;
  color: rgb(21, 169, 249);
  font-size: 32px;
}

.rootLink:hover {
  color: rgb(8, 125, 188);
}

.rootHeader {
  font-size: 40px;
}

.footerText {
  font-size: 16px;
}

.productsTable {
  border: 1px solid black;
}

.productsRow {
  
}